@using MVC.Models
@model List<Car>

@{
    ViewBag.Title = "GetCars";
}

<h2>Cars</h2>


    @foreach (var car in @Model)
    {
        <div class="car-prop">
            <p>@car.Name</p>
            <p>@car.Color</p>
            <p>@car.ModelYear</p>
            <p>@car.Price</p>
            <img src="data:image;base64,@System.Convert.ToBase64String(car.Image)" width="80" height="80" /> 
        </div>
    }



